
$md3: 767.98px;

@import "header";
@import "mixins";
@import "fonts";
div {
    display: flex;
    > div {
        span {
            display: grid;
        }
    }
}

.class {
    background: url("../images/Earth_Black_background_548690_4000x4000.jpg");
    @media (max-width: $md3) {
        display: block !important;

    }
}
