//==================================================================
// Переменные для медиа запросов, контейнеров
//==================================================================

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;

//==================================================================
// Типографика
//==================================================================
$mainColor: #000;

//==================================================================
// Стили для оболочек
//==================================================================
body {
    color: $mainColor;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    @media (max-width: $md3+px) {
        &.lock {
            overflow: hidden;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}
.header,
.footer {
    flex: 0 0 auto;
}

.page {
    flex: 1 1 auto;
}
